#!/usr/bin/make -f

export DH_COMPAT=11
export DH_VERBOSE=1
export BUILDDIR=build

%:
	dh $@ --buildsystem=cmake+ninja --parallel

override_dh_auto_configure:
	dh_auto_configure \
		--builddirectory=$(BUILDDIR) \
		--parallel \
		-- \
		-D CMAKE_CXX_COMPILER=clang++ \
		-D CMAKE_BUILD_TYPE=Release \
		-D BUILD_TESTS=OFF \
		-D PACK_DEB=OFF 

override_dh_auto_build:
	cmake --build $(BUILDDIR) --config Release --target all	

override_dh_auto_install: install-lib 

install-lib:
	cd $(BUILDDIR) && cmake -P cmake_install.cmake


override_dh_testroot: ;
