#!/usr/bin/make -f

export DH_OPTIONS
export DH_COMPAT=11
export DH_VERBOSE=1
export BUILDDIR=build

%:
	dh $@ --buildsystem=cmake+ninja --parallel --builddirectory=$(BUILDDIR)

override_dh_auto_configure:
	dh_auto_configure \
		--parallel \
		--builddirectory=$(BUILDDIR) \
		-- \
		-D CMAKE_INSTALL_PREFIX=debian/tmp/ \
		-D CMAKE_CXX_COMPILER=clang++ \
		-D CMAKE_BUILD_TYPE=Release \
		-D BUILD_TESTS=OFF

override_dh_testroot: ;

override_dh_auto_test: ;